<div class="comment">
    <p>{{ comment.publish_date }}</p>
    <p>{{ comment.comment|safe }}</p>
{#    {% include 'post/includes/_comment_form.html' %}#}
    <a href="{% url 'post-slugged:comment' slug_category=post.category.slug_category date_slug=post.publish_date|date:"o-m-d" slug_post=post.slug_post %}?post-id={{ post.pk }}&comment-id={{ comment.pk }}" class="btn btn-danger">Comment</a>
    {% for comment in comment.comment_comments.all %}
        {% include 'post/includes/_post_comment.html' %}
    {% endfor %}
</div>