<div class="comment">
    <div class="media">
{#        <img src="{{ user.profile.image.url }}" alt="User Profile Picture" class="rounded-circle account-img">#}
        <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            {{ user.username }}
            <br>
            {{ comment.publish_date }}
        </div>
    </div>
    <p>{{ comment.publish_date }}</p>
    <p>{{ comment.comment|safe }}</p>
    {% if post.comments_enabled and post.category.comments_enabled %}
        {% if not form %}
            <a href="{% url 'post-slugged:comment' slug_category=post.category.slug_category date_slug=post.publish_date|date:"o-m-d" slug_post=post.slug_post %}?post-id={{ post.pk }}&comment-id={{ comment.pk }}#comment-form" class="btn btn-outline-secondary btn-sm">Comment</a>
        {% elif form.comment_id == comment.id %}
            {% include 'post/includes/_comment_form.html' %}
        {% endif %}
    {% endif %}
    {% for comment in comment.comment_comments.all %}
        {% include 'post/includes/_post_comment.html' %}
    {% endfor %}
</div>