{% load user_utils %}

<div class="comment">
    <div class="media">
        {% if comment.author %}
            <img class="rounded-circle article-img" alt="User Profile Picture" src="{{ comment.author.profile.image.url }}">
        {% else %}
            <img class="rounded-circle article-img" alt="User Profile Picture" src="/media/default.jpg">
        {% endif %}
        <div class="media-body" id="{{ comment.pk }}">
            {% if comment.author %}
                {{ comment.author.username }}
            {% elif comment.name != None %}
                {{ comment.name }}
            {% else %}
                Anonymous
            {% endif %}
            <br>
            {{ comment.publish_date }}
        </div>
    </div>
    <p>{{ comment.comment|safe }}</p>
    {% if comment.author == user or user|has_permission:"can add post" %}
        <a href="{% url 'post-slugged:update_comment' root_slug=post.category.root_slug date_slug=post.publish_date|date:"Y-m-d" post_slug=post.post_slug %}?post-id={{ post.pk }}&comment-id={{ comment.pk }}#comment-form">Edit</a>
        <br>
    {% endif %}
    {% if post.comments_enabled and post.category.comments_enabled %}
        {% if not form %}
            <a href="{% url 'post-slugged:comment' root_slug=post.category.root_slug date_slug=post.publish_date|date:"Y-m-d" post_slug=post.post_slug %}?post-id={{ post.pk }}&comment-id={{ comment.pk }}#comment-form" class="btn btn-outline-secondary btn-sm">Comment</a>
            <a href="{% url 'account:login' %}">Login</a>
            |
            <a href="{% url 'account:register' %}">Register</a>
        {% elif form.comment_id == comment.id %}
            {% include 'post/includes/_comment_form.html' %}
        {% endif %}
    {% endif %}
    <hr>
    {% for comment in comment.comment_comments.all %}
        {% include 'post/includes/_post_comment.html' %}
    {% endfor %}
</div>