[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
v = {editable = true,version = "*"}

[packages]
django = "==3.0.14"
django-tinymce4-lite = "*"
django-crispy-forms = "*"
django-docs = "*"
pillow = "*"
django-cleanup = "*"

[requires]
python_version = "3.8"
