[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0"
django-tinymce4-lite = "*"
django-crispy-forms = "*"
pillow = "*"
django-cleanup = "*"

[requires]
python_version = "3.8"
