{% extends 'main/_sidebar.html' %}

{% load static %}

{% block main_content %}
    <article class="content-section">
        <div class="media-body">
            <div class="media">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'post-slugged:category-view' post.category.slug_category %}">{{ post.series.category.category }}</a>
{#                    <a class="mr-2" href="{% url 'post-slugged:series-view' post.series.category.slug_category post.series.slug_series %}">{{ post.series.series }}</a>#}
                    <small class="text-muted">{{ post.publish_date|date:"F d, Y" }}</small>
                    {% if post.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-slugged:update' post.category.slug_category post.publish_date|date:"o-m-d" post.slug_post %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-slugged:delete' post.category.slug_category post.publish_date|date:"o-m-d" post.slug_post %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content|safe }}</p>
        </div>
        {#        {% include 'post/includes/_comment_form.html' %}#}
        <a href="{% url 'post-slugged:comment' slug_category=post.category.slug_category date_slug=post.publish_date|date:"o-m-d" slug_post=post.slug_post %}?post-id={{ post.pk }}&comment-id={{ 0 }}" class="btn btn-danger">Comment</a>
        <div>
            {% for comment in post.post_comments.all %}
                {% if not comment.comment_comment %}
                    {% include 'post/includes/_post_comment.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </article>
{% endblock main_content %}

{% block additional_js %}
    <script src="{% static 'main/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'main/js/collapsible_comments.js' %}"></script>
{% endblock additional_js %}