{% extends 'main/_with_sidebar.html' %}

{% load static %}

{% block main_content %}
    {% if view.kwargs.username %}
        <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ object_list.paginator.count }})</h1>
    {% endif %}
    {% for object in object_list %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'post-slugged:category-view' object.category.slug_category %}">{{ object.category.name }}</a>
                    <a class="mr-2" href="{% url 'post:user-posts' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.publish_date|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-slugged:detail-view' object.category.slug_category object.publish_date|date:"o-m-d" object.slug_post %}">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.content_summary|safe }}</p>
            </div>
        </article>
    {% endfor %}
    {% if object_list.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ object_list.previous_page_number }}"><</a>
    {% endif %}

    {% for num in object_list.paginator.page_range %}
        {% if object_list.number == num %}
            <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
        {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if object_list.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ object_list.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ object_list.paginator.num_pages }}">>></a>
    {% endif %}
{% endblock main_content %}

{% block sidebar_content %}
    <div class="content-section">
        <h3>More Content</h3>
        {% for section, posts in sidebar.items %}
            <p class='text-muted'>{{ section }}</p>
            <ul class="list-group">
            {% for post in posts %}
                <a href="{% url 'post-slugged:detail-view' post.category.slug_category post.publish_date|date:"o-m-d" post.slug_post %}" class="list-group-item list-group-item-light">{{ post.title }}</a>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock sidebar_content %}