{% extends 'main/_sidebar.html' %}

{% load static %}

{% block main_content %}
{% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'post:category-view' slug_category=post.series.category.slug_category %}">{{ post.series.category.category }}</a> -
                <a class="mr-2" href="{% url 'post:series_view' slug_category=post.series.category.slug_category slug_series=post.series.slug_series %}">{{ post.series.series }}</a>
                <small class="text-muted">{{ post.publish_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post:detail_view' post.series.category.slug_category post.series.slug_series post.slug_post %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content_summary|safe }}</p>
        </div>
    </article>
{% endfor %}
{% endblock main_content %}