{% extends 'main/_sidebar.html' %}

{% load static %}

{% block main_content %}
    {% if view.kwargs.username %}
        <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% endif %}
    {% for object in object_list %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'post-slugged:category-view' object.category.slug_category %}">{{ object.category.category }}</a>
                    <a class="mr-2" href="{% url 'post:user-posts' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.publish_date|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-slugged:detail-view' object.category.slug_category object.publish_date|date:"o-m-d" object.slug_post %}">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.content_summary|safe }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
{% endblock main_content %}