{% extends 'main/_sidebar.html' %}

{% load static %}

{% block main_content %}
    <article class="content-section">
        <div class="media-body">
            <div class="media">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'post-slugged:category-view' post.series.category.slug_category %}">{{ post.series.category.category }}</a> -
                    <a class="mr-2" href="{% url 'post-slugged:series-view' post.series.category.slug_category post.series.slug_series %}">{{ post.series.series }}</a>
                    <small class="text-muted">{{ object.publish_date|date:"F d, Y" }}</small>
                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-slugged:update' post.series.category.slug_category post.series.slug_series post.slug_post %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-slugged:delete' post.series.category.slug_category post.series.slug_series post.slug_post %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content|safe }}</p>
        </div>
        <div>
            {% for comment in object.post_comments.all %}
                {% include 'post/includes/_post_comment.html' %}
            {% endfor %}
        </div>
    </article>
{#    <div class="content-section">#}
{#        {% for comment in object.post_comment.all %}#}
{#            <p>{{ comment.content }}</p>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock main_content %}