{% extends 'main/_with_sidebar.html' %}

{% load static %}

{% block main_content %}
    <article class="content-section">
        <div class="media-body">
            <div class="media">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="article-metadata">
                    <div>
                        <a class="mr-2" href="{% url 'post:user-posts' post.author.username %}">{{ post.author }}</a>
                    </div>
                    <a class="mr-2" href="{% url 'post-slugged:category-view' post.category.slug_category %}">{{ post.category.name }}</a>
                    <small class="text-muted">{{ post.publish_date|date:"F d, Y" }}</small>
                    {% if post.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-slugged:update' post.category.slug_category post.publish_date|date:"Y-m-d" post.slug_post %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-slugged:delete' post.category.slug_category post.publish_date|date:"Y-m-d" post.slug_post %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content|safe }}</p>
        </div>
        {% if post.comments_enabled and post.category.comments_enabled %}
            {% if not form %}
                <a href="{% url 'post-slugged:comment' slug_category=post.category.slug_category date_slug=post.publish_date|date:"Y-m-d" slug_post=post.slug_post %}?post-id={{ post.pk }}&comment-id={{ 0 }}#comment-form" class="btn btn-outline-secondary btn-sm">Comment</a>
                <a href="{% url 'account:login' %}">Login</a>
                |
                <a href="{% url 'account:register' %}">Register</a>

            {% elif not form.comment_id   %}
                {% include 'post/includes/_comment_form.html' %}
            {% endif %}
        {% endif %}
        <hr>
        <div>
            {% for comment in post.post_comments.all %}
                {% if not comment.comment_comment %}
                    {% include 'post/includes/_post_comment.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </article>
{% endblock main_content %}

{% block sidebar_content %}
    {% include 'post/includes/_sidebar.html' %}
{% endblock sidebar_content %}

{% block additional_js %}
    <script src="{% static 'main/js/tinymce/tinymce.min.js' %}"></script>
{#    <script src="{% static 'main/js/collapsible_comments.js' %}"></script>#}
{% endblock additional_js %}