{% extends 'main/_no_sidebar.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="content-secton">
        <h1>Privacy, Data, and Cookie Policy</h1>
        <h2>What We Gather and When</h2>
        <p>If you leave comments, we store that until you delete it or you ask us to do so.</p>
        <p>We use cookies so we can provide a consistent experience between visits. These store basic info on your visits to this site and are kept on your computer, not ours.</p>
        <h2>What We Do With It</h2>
        <p>Usernames are shared publicly along with comments. Email addresses are used for admin purposes and not shared publicly. This info is also used to help insure that people have access to the appropriate part of the site.</p>
        <h2>Who We Share It With and When</h2>
        <p>We don't privately share any user data. The only sharing that happens is through displaying user comments and usernames on their respective posts.</p>
        <p>Please note that these are our present practices and policies and they may change at any time.</p>
    </div>
{% endblock main_content %}