{% extends 'main/_with_sidebar.html' %}

{% load static %}

{% block main_content %}
    <div class="content-section">
        <h1>BrilliantImagery</h1>
        <p>BrillinatImagery is a package and app for working with DNG images and image sequences.
            It can do things such as:</p>
        <ul>
            <li>Smooth edit adjustment in images sequences that have been edited with Adobe Lightroom.</li>
            <li>Stabilize shaky image sequences that have been edited with Adobe Lightroom.</li>
            <li>Parse DNG files and read their metadata.</li>
            <li>Edit the metadata contained within DNG files.</li>
            <li>Render DNG images.</li>
            <li>Decode lossless JPEG files.</li>
            <li>Encode lossless JPEG files.</li>
        </ul>
        <br>
        <p>Brilliant Imagery's built in a modular fashion so it can be used as a standalone app,
            extended, or used to extend the capabilities of something else.</p>
        <p>Given that it's a hobby side project, it's largely expected to be in a perpetual
            alph/bata release state unless it gains a sufficient following to justify and facilitate
            more. That said, every effort will be made to keep it stable, and efforts will be made
            to avoid breaking changes to the API.
        </p>
        <p>Also, please note that this project has largely been my first, primary, and/or only
            exposure to things such as Python, Cython, Django, structuring projects and packaged,
            packaging Python projects, software documentation, data compression, binary data and
            files, image rendering and manipulation,
            image files and their structures, web development and hosting and lots more.
            If you have questions, comment, or
            recommendations, please reach out either here or on the project's
            <a href="https://github.com/brilliantimagery/brilliantimagery">github page</a>.
        </p>
    </div>
{% endblock main_content %}

{% block sidebar_content %}
    {% include 'post/includes/_sidebar.html' %}
{% endblock sidebar_content %}