{% extends 'main/_with_sidebar.html' %}

{% load static %}

{% block main_content %}
    <div class="content-section">
        <h1>Downloads</h1>
        <p></p>
        <h2>Windows</h2>
        <p>This was tested on 64 bit Windows 10, build 18362. Hopefully it'll work on other builds and
            versions but due to a lack of availability, that's yet to be known. Hopefully, in time,
            we'll be testing against more versions of Windows. If it doesn't work for you, we'd love
            to know!</p>
        <ul>
            <li><a href="/media/downloads/brilliantimagery_0.1.0_win.exe">Windows BrilliantImagery 0.1.0 </a></li>
        </ul>
        <p></p>
        <h2>Mac OS</h2>
        <p>Because of how this software is built, self-contained executable files can only be
            generated for the OS on which it's being built. We don't presently have easy access to
            any Mac OS powered machines so we can't practically build this. If you're up for helping
            make this happen please let us know! Also, other installation options are available so
            please check those out!</p>
        <h2>Linux</h2>
        <p>Since Adobe Lightroom isn't Linux compatible we aren't presently targeting Linux for
            a standalone executable. If there's demand, one can be made.
        </p>
    </div>
{% endblock main_content %}

{% block sidebar_content %}
    {% include 'post/includes/_sidebar.html' %}
{% endblock sidebar_content %}