{% extends 'main/_sidebar.html' %}

{% load static %}

{% block main_content %}
{% for post in posts %}
    <article class="media">
{#        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">#}
        <div class="media-body">
            <div class="article-metadata">
{#                <a class="mr-2" href="#">{{ post.author }}</a>#}
                <a class="mr-2" href="#">{{ post.series.category.category }} - {{ post.series.series }}</a>
                <small class="text-muted">{{ post.publish_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
        </div>
    </article>
{% endfor %}
{% endblock main_content %}