{% load static %}
{% load user_utils %}

<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        {#        <a href="{% url 'bi_site:home' %}">#}
        <a href="{% url 'home' %}">
            <img src="{% static 'main/images/icon_50px_white_transparent.png' %}"
                 alt="Brilliant Imagery logo" class="navbar-image">
        </a>
        <a class="navbar-brand mr-4" href="{% url 'home' %}">Brilliant Imagery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'main:about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <div class="dropdown">
                    <button class="dropbtn nav-item nav-link">Development <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a class="nav-link" href="{% url 'docs_root' %}">Docs</a>
                        <a class="nav-link"
                           href="https://github.com/brilliantimagery/brilliantimagery">Source
                            code</a>
                    </div>
                </div>
                <a class="nav-item nav-link" href="{% url 'main:license' %}">License</a>
                {% if user.is_authenticated %}
                    {% if user|has_permission:"can add post" %}
                        <a class="nav-item nav-link" href="{% url 'post:create-new' %}">New Post</a>
                    {% endif %}
                    <a class="nav-item nav-link"
                       href="{% url 'account:profile' %}">{{ user.username }}</a>
                    <a class="nav-item nav-link" href="{% url 'account:logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'account:login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'account:register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>